plugin
.DS_Store
.vscode
nvim/lsp.log
nvim/session
nvim/luacache_chunks
nvim/luacache_modpaths
nvim/lvim.shada
.luarc
karabiner/*
!karabiner/karabiner.json


alacritty/alacritty.yml--
yarn-error.log
ranger/__pycache__/commands.cpython-39.pyc
ranger/plugins/__pycache__/autojump.cpython-39.pyc