[user]
	name = Lay
  email = lei4519@126.com

[core]
  pager = delta
  # hooksPath = /Users/lay/.inspect-commits/hooks

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections
  ; side-by-side = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[pull]
  rebase = true
