[Unit]
Description=kanata

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/kanata -c /home/lay/dotfiles/linux/kanata/kanata.kdb
Nice=-20

[Install]
WantedBy=default.target
